body {
    margin: 0;
    min-width: 470px;
}

main {
    margin: .5rem;
}

header {
    position: sticky;
    top: 0;
    padding: 10px 10px 10px 10px;
    background-color: rgb(120, 254, 120);
    display: grid;
    gap: 20px;
}

h2 {
    font-family: monospace;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
}

form input {
    padding: 14px;
    border: 3px solid rgb(225, 225, 225);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 32px;
}

form button {
    border: none;
    border-radius: 10px;
    font-size: 32px;
    padding: 16px;
    color: #000;
    background-color: rgb(225, 225, 225);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

dialog {
    width: 15rem;
    max-height: 20rem;
    padding: 5rem;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 90%) 0 0 0.5rem 0.25rem;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
}

#upload-modal {
    padding: 3rem 3rem 3rem 2rem;
    width: 20rem;
}

dialog h2 {
    font-size: 28px;
}

dialog form {
    max-width: 20rem;
    max-height: 25rem;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 10px;
}

#upload-image-input {
    display: none;
}

#upload-image-label {
    padding: 10px;
    margin: 0;
    width: 20rem;
    border-radius: 10px;
    background-color: rgb(200, 254, 200);
}

#upload-image-showcase {
    display: none;
    max-width: 18rem;
    margin: auto;
}

#upload-tag-sheet {
    position: relative;
    display: none;
    gap: 2px;
    height: 10rem;
    width: 19rem;
    margin: auto;
}

#upload-add-tag {
    width: 18rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    position: relative;
}

#upload-tag-input {
    width: 8rem;
    height: 2.5rem;
    font-size: 14px;
    padding: 7px;
}

#upload-tag-list {
    resize: none;
    border: 3px solid rgb(225, 225, 225);
    border-radius: 10px;
    width: 18rem;
    height: 5rem;
}

#add-tag-button {
    font-size: 14px;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    padding: 3px 10px 3px 10px;
}

#upload-tag-dropdown {
    border: 3px solid rgb(225, 225, 225);
    border-radius: 10px;
    width: 8rem;
    height: 2.5rem;
    font-size: 14px;
}

#upload-error {
    font-size: 18px;
    text-align: center;
    font-family: monospace;
    color:rgb(254, 80, 80);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 50%);
}

.dialog-close-btn {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    padding: 5px 20px;
    background-color: rgb(254, 80, 80);
}

.login-error {
    font-size: 24px;
    text-align: center;
    margin: 20px 50px 0 50px;
    font-family: monospace;
    color:rgb(254, 80, 80);
}

.loading {
    font-size: 48px;
    text-align: center;
    margin: 200px auto;
    font-family: monospace;
}

.login {
    background-color: rgb(120, 254, 120);
    margin: 150px 10% 0 10%;
    padding: 10px 10px 30px 10px;
    border-radius: 20px;
}

.login-form {
    margin: 10px auto;
    padding: 5px;
    display: grid;
    gap: 20px;
    width: 80%;
}

.search-form {
    margin: 1rem 0 1rem 0;
    display: grid;
    gap: 20px;
}

#expanded-header{
    padding: 10px 10px 20px 10px;
}

#collapsed-header{
    grid-template-columns: 1fr 6fr;
    display: none;
}


.header-toolbar {
    background-color: rgb(200, 254, 200);
    border: none;
    border-radius: 20px;
    font-size: 32px;
    padding: 16px;
    margin: auto 10px;
    height: 90px;
    color: #000;
}

.toolbar-toggle {
    background-color: rgb(200, 254, 200);
    border: none;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 20px 25px;
    font-size: 30px;
    color: #000;
}

#expanded-header-toggle {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#toolbar-toggle-expanded {
    padding: 20px 28.5px;
    margin: 20px 31px 20px 10px;
}

.login-form input, .login-form button {
    width: 90%;
    margin: auto;
}

.search-form button {
    font-weight: normal;
}

.search-form button[type="button"] {
    background-color: rgb(254, 80, 80);
    color: #000;
}

.image-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); /* experiment with grid! */
}

.no-results {
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 60px 25px;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer button {
    font-size: 36px;
    border-radius: 10px;
    border: none;
    padding: 18px;
    margin: 3rem 0 3rem 0;
}

@media only screen and (min-width: 960px) {
    #help-modal {
        width: 25rem;
    }
    .login-error {
        font-size: 32px;
        margin: 50px 100px 0 100px;
    }
    .login {
        margin: 150px 25% 0 25%;
    }
    .login-form input, .login-form button {
        width: 80%;
    }
    .search-form {
        grid-template-columns: 5fr 1fr 1fr;
    }
    header {
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
        padding: 10px 16px;
    }
    .header-toolbar {
        width: 7rem;
        font-size: 20px;
        padding: 0;
    }
    #scroll-button {
        font-size: 15px;
    }
    .collapsed-header {
        display: none;
    }
    .expanded-header {
        display: grid;
    }
    .toolbar-toggle {
        visibility: hidden;
    }
    header h2 {
        text-align: left;
    }
}

@media only screen and (min-width: 1080px) {
    header {
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
        padding: 10px 16px;
    }
    .header-toolbar {
        width: 10rem;
        font-size: 25px;
    }
    #scroll-button {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1410px) {
    header {
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
        padding: 10px 16px;
    }
    .header-toolbar {
        width: 15rem;
        font-size: 30px;
    }
    #scroll-button {
        font-size: 25px;
    }
}